.coluna{
    margin-top: 5px;
    display: flex;
    flex-wrap: nowrap;
}
.coluna2{
    width: 100% !important;
}
.titulo-tabela{
    color: #111;
    font-family: 'ProximaNova', sans-serif;
    font-size: 1.625em;
    font-weight: Bold;
    letter-spacing: -0.04em;
    margin-top: 10px;
    margin-bottom: 10px;
}
table{
    border-spacing: 0px;
}
.indice{
    text-align: left;
    padding: 0 150px 0 15px;
    font-weight: 400;
    letter-spacing: -0.3px;
    font-size: 11px;
    font-family: 'Opensans', sans-serif;
    color: #999;
    height: 45px;
    border-bottom: 1px solid silver;
    border-top: 1px solid silver;
}
.indice2{
    padding: 0 15px;
    font-weight: 400;
    letter-spacing: -0.3px;
    font-size: 11px;
    color: #999;
    height: 45px;
    border-bottom: 1px solid silver;
    border-top: 1px solid silver;
}
tr{
    padding: 0px;
    height: 55px;
    text-align: center;
    font-family: 'opensans', sans-serif;
    border-bottom: 1px solid silver;
}
td{
    padding: 0px;
    height: 55px;
    text-align: center;
    font-family: 'opensans', sans-serif;
    border-bottom: 1px solid silver;
}
td:nth-child(4){
    font-size: 11px;
    font-family: 'Opensans', sans-serif;
    color: #999;
}
td:nth-child(5){
    font-weight: bold;
    font-family: 'Opensans', sans-serif;
    color: #333333;
}
td:nth-child(2n+5){
    background-color: #f5f5f5;
}
.dados{
    padding: 0px;
    width: 10px;
    height: 55px;
    text-align: center;
    font-family: 'opensans', sans-serif;
    border-bottom: 1px solid silver;
}
.posicao{
    padding: 0px;
    width: 20px;
    height: 55px;
    text-align: center;
    font-family: 'opensans', sans-serif;
    border-bottom: 1px solid silver;
}
.time{
    padding: 0px;
    width: 300px;
    height: 55px;
    text-align: left;
    font-size: 17px bold;
    font-family: 'opensans', sans-serif;
    border-bottom: 1px solid silver;
}
.logo{
    margin:0 8px 0 8px;
    width: 30px;
    height: 30px;
}
.logocaixa{
    padding: 0px;
    width: 10px;
    height: 55px;
    font-size: 17px bold;
    border-bottom: 1px solid silver;
}
.nomeTime{
    text-align: left;
}
.ultJogos {
    border-radius: 50%;
    display: inline-block;
    height: 7px;
    margin-left: 4px;
    overflow: hidden;
    width: 7px;
}
.vitoria {
    background-color: #51a81e;
}
.empate {
    background-color: #ccc;
}
.derrota {
    background-color: #f00;
}

.tabela-lista-jogos{

    padding-left: 32px;
    margin-left: 32px;
    border-left: solid 1px #ddd;

}
.lista-jogos-titulo{
    color: #111;
    font-family: 'ProximaNova', sans-serif;
    font-size: 1.625em;
    font-weight: Bold;
    letter-spacing: -0.04em;
    margin-top: 10px;
    margin-bottom: 10px;
}
.listaRodadas{
    height: 54px;
    border-bottom: 1px solid silver;
    border-top: 1px solid silver;
    display: flex;
    font-family: 'ProximaNova', sans-serif;
    font-weight: 700;
    align-items: center;
}
.navEsquerda{
    flex-grow: 1;
    color: green;
    font-size: 1.5em; 
}
.lista-jogos-rodada{
    flex-grow: 2;

}
.navDireita{
    text-align: right;
    flex-grow: 1;
    color: green;
    font-size: 1.5em;
}
.tabela2{
    border-bottom: 1px solid #e3e3e3;
    display: block;
}

.placarJogos{
    align-items: center;
    color: #333;
    display: flex;
    height: 4em;
    width: 100%;
}
.jogoInformacoes{
    color: #555;
    font-family: 'opensans', sans-serif;
    font-size: 0.6875em;
    letter-spacing: -0.3px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.jogoData{
    padding: 0 2px 0 2px;
    font-weight: 800;
}
.jogoLocal{
    margin: 0;
    padding: 0 2px 0 2px;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}
.jogoHora{
    padding: 0 2px 0 2px;
    font-weight: 800;
}
.timeMandante{
    color: #333;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-family: 'opensans', sans-serif;
    font-size: 18px;
    width: 40%;
}
.timeVisitante{
    color: #333;
    display: flex;
    align-items: center;
    font-family: 'opensans', sans-serif;
    font-size: 18px;
    width: 40%;
}
.imagemX{
    margin: 0 8px 0 8px;
    color: red;
    height: 10px;
    width: 10px;
}
.versus{
    font-size: 21px;
    font-family: 'opensans', sans-serif;
    font-style: normal;
    font-weight: 700;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
}
.dadosJogos{
    height: 111px;
    text-align: center;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 1px solid #e3e3e3;
}
.acompanheEmTempoReal{
    color: rgb(6, 170, 72);
    font-family: 'opensans', sans-serif;
    font-size: 0.6875em;
    font-style: normal;
    font-weight: 800;
    letter-spacing: -0.3px;
    text-transform: uppercase;
}


.artilharia-lista{
    margin-bottom: 19px;
}
.guia-titulo{
    font-size: 24px;
    font-family: 'ProximaNova', sans-serif;
    font-weight: bold;
    color: #333;
    letter-spacing: -0.04em;
    text-transform: uppercase;
}
.artilharia-titulo{
    margin-bottom: 19px;
}
.ranking-header{
    display: flex;
    align-items: center;
    height: 40px;
    border-width: 1px 0;
    border-style: solid;
    border-color: #ddd;
    color: #999;
    font-size: 11px;
}
.ranking-header-gol{
    margin-left: auto;
    padding-right: 20px;
}
.boxRanking{
    box-sizing: content-box;
    overflow: auto;
    height: 430px;
    border-bottom: 1px solid #ddd;
}
.rankingItemWrapper{
    border-bottom: 1px solid #ddd;
    display: flex;
    align-items: center;
}
.rankingItem{
    width: 30px;
    color: #999;
    font-family: 'opensans', sans-serif;
    font-size: 28px;
}
.jogador{
    display: flex;
    align-items: center;
    width: 100%;
    height: 78px;
}
.jogadorFoto{
    border-radius: 50px;
    background-color: #f1f1f1;
    display: block;
    height: 50px;
    margin-right: 10px;
    overflow: hidden;
    width: 50px;
}
.jogadorEscudo{
    height: 30px;
    width: 30px;
}
.jogadorInfo{
    margin-left: 20px;
}
.jogadorGols{
    margin-left: auto;
    padding-right: 20px;
    color: #333;
    font-family: 'opensans', sans-serif;
    font-size: 26px;
}
.jogadorNome{
    color: #333;
    font-size: 20px;
    font-family: 'ProximaNova-Regular', arial, sans-serif;
    letter-spacing: -1px;
}
.jogadorPosicao{
    color: #999;
    font-size: 10px;
    font-family: 'ProximaNova-Regular', arial, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 3px;
}
